
    <FilesMatch "-[\w\d]{8}\.(js|css)$">
        Header set Cache-Control "public, max-age=31540000, immutable"
    </FilesMatch>
    <FilesMatch "(index\.html|start\.js|ui\.js|vue\.js|vuetify\.js|ol\.js|cesium\.js|core\.js)$">
        Header set Cache-Control "no-store, max-age=0"
    </FilesMatch>
